@page "/counter"
@using Microsoft.AspNetCore.Components
@using Client.Services

@inject myCounter counter;

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @counter.Value</p>

<button class="btn btn-primary" @onclick="IncrementCount">+</button>
<button class="btn btn-danger" @onclick="DecrementCount">-</button>

@code {
    //private int currentCount = 0;
    //public int CurrentCount
    //{
    //    get => currentCount;
    //    set => currentCount = value;
    //}

    private void IncrementCount()
    {
        counter.Value++;
    }

    private void DecrementCount()
    {
        counter.Value--;

        counter.Value = counter.Value < 0 ? 0 : counter.Value;
    }
}
