@page "/employeeList"

@inherits EmployeeListBase

<h3>Employee List</h3>

<div class="card-deck">
	@foreach(var emp in EmployeesList)
	{
		<div class="container" style="display: inline-block; max-width: 30%">
			<div class="card m-3" style="">
				<div class="card-header">
					<h3>@emp.FirstName @emp.LastName</h3>
				</div>
				<div class="card-footer text-center">
					<button class="btn-success">View</button>
					<button class="btn-info">Edit</button>
					<button class="btn-danger">Delete</button>
				</div>
			</div>
		</div>
	}
</div>