@page "/inception"

<PageTitle>Inception</PageTitle>

<h1>Inception page</h1>

@*Calling MainLayout component creating an inception because why not*@
<MainLayout />

<div>
	=====================
</div>

<ExampleComponent ExampleText="Example text passed in inception page"/>
