@using Microsoft.AspNetCore.Components
@using Client.Services

@inherits ExampleChildComponentBase

@inject RandomServiceTwo RandomServiceTwo

<div class="alert alert-info">
	@ChildContent
</div>

<div class="alert alert-@Theme">
	<p>@ThemeDescription</p>

	@*Trying binding*@
	<label for="themeToggler">Toggle theme:</label>
	<input id="themeToggler" type="checkbox" @bind="@_darkThemeOn" @onclick="@ChangeDescription"/>
</div>

<div>
	<p>Hello, I am a parameter passed from parent component: <strong> @ParentStuff </strong> <br />
		And this is RandomID of injected RandomServiceTwo: @RandomServiceTwo.RandomID.
		This won't change because it's Scoped.
	</p>
</div>
