@using Microsoft.AspNetCore.Components
@using Client.Services

@inject RandomService RandomService

<div class="alert alert-success">
	<p>This text is passed when the ExampleComponent is used in this page:
		<strong>
			@ExampleText
		</strong>
	</p>
</div>

<div>
	<h5>
		ExampleChildComponent begins here
	</h5>
	<ExampleChildComponent ParentStuff="Some parent stuff">
		Some ChildComponent content
	</ExampleChildComponent>
	<h5>
		ExampleChildComponent ends here
	</h5>
</div>

<div class="alert alert-danger">
		My random ID is: @RandomService.RandomID
		This will change because it's Transient.
</div>

@code
{
	[Parameter]
	public string ExampleText { get; set; }
}