@using Microsoft.AspNetCore.Components

@inherits ExampleChildComponentBase

<div class="alert alert-info">
	@ChildContent
</div>

<div class="alert alert-@Theme">
	<p>@ThemeDescription</p>

	@*Trying binding*@
	<label for="themeToggler">Toggle theme:</label>
	<input id="themeToggler" type="checkbox" @bind="@_darkThemeOn" @onclick="@ChangeDescription"/>
</div>

<div>
	<p>Hello, I am a parameter passed from parent component:
		<strong>
			@ParentStuff
		</strong>
	</p>
</div>
